---
interface Props {
  class?: string;
}

const { class: extraClass = '' } = Astro.props;
const wrap =
  'mx-auto w-full max-w-[1280px] px-12 max-[1024px]:px-8 max-[900px]:px-6 max-[600px]:px-[18px]';
---

<div class:list={[wrap, extraClass]}>
  <slot />
</div>
