---
import type { FooterContactIcon } from "../../lib/constants/footer-contact";

interface Props {
  href: string;
  text: string;
  icon: FooterContactIcon;
  multiLine?: boolean;
}

const { href, text, icon, multiLine } = Astro.props;
const isExternal = href.includes("maps.") || href.startsWith("http");
const lines = multiLine ? text.split("||") : [text];
---

<a
  href={href}
  target={isExternal ? "_blank" : undefined}
  rel={isExternal ? "noopener noreferrer" : undefined}
  class="group flex items-center gap-3"
>
  <div
    class="flex size-[38px] min-h-[38px] min-w-[38px] items-center justify-center rounded-full bg-cyan transition-all duration-300 group-hover:bg-cyan/70"
  >
    {
      icon === "location" && (
        <svg
          width="12"
          height="17"
          viewBox="0 0 12 17"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          aria-hidden="true"
        >
          <path d="M1 16V6H11V16H1Z" fill="white" />
          <path d="M0 6L6 0L12 6H0Z" fill="white" />
          <rect x="4" y="9" width="1.5" height="2" fill="#153A60" />
          <rect x="6.5" y="9" width="1.5" height="2" fill="#153A60" />
          <rect x="3" y="12" width="6" height="1" fill="#153A60" />
        </svg>
      )
    }
    {
      icon === "phone" && (
        <svg
          width="15"
          height="16"
          viewBox="0 0 15 16"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          aria-hidden="true"
        >
          <path
            d="M14.9992 11.2732V14.2198C14.9993 14.4308 14.9193 14.634 14.7755 14.7883C14.6317 14.9427 14.4347 15.0367 14.2242 15.0515C13.8603 15.0771 13.5631 15.0898 13.3326 15.0898C5.96884 15.0898 0 9.12068 0 1.75651C0 1.52651 0.0127771 1.22929 0.0383312 0.864844C0.053099 0.654381 0.147143 0.457353 0.301486 0.313518C0.45583 0.169683 0.658982 0.0897484 0.869952 0.089844H3.81645C3.91981 0.0897393 4.01952 0.12806 4.09621 0.197361C4.1729 0.266662 4.2211 0.361996 4.23143 0.464844C4.25032 0.655955 4.2681 0.809288 4.28476 0.924844C4.45035 2.08062 4.78972 3.20471 5.29137 4.25901C5.37054 4.42568 5.31887 4.62484 5.16888 4.73151L3.37065 6.01651C4.47035 8.57841 6.51191 10.6201 9.07366 11.7198L10.3569 9.92484C10.4092 9.85125 10.4857 9.79844 10.573 9.77573C10.6604 9.75302 10.7529 9.76185 10.8344 9.80068C11.8885 10.3014 13.0123 10.64 14.1675 10.8048C14.2831 10.8215 14.4359 10.8393 14.6259 10.8582C14.7285 10.8687 14.8237 10.917 14.8928 10.9937C14.9619 11.0703 14.9993 11.1699 14.9992 11.2732Z"
            fill="white"
          />
        </svg>
      )
    }
    {
      icon === "whatsapp" && (
        <svg
          width="16"
          height="16"
          viewBox="0 0 24 24"
          fill="white"
          xmlns="http://www.w3.org/2000/svg"
          aria-hidden="true"
        >
          <path d="M17.472 14.382c-.297-.149-1.758-.867-2.03-.967-.273-.099-.471-.148-.67.15-.197.297-.767.966-.94 1.164-.173.199-.347.223-.644.075-.297-.15-1.255-.463-2.39-1.475-.883-.788-1.48-1.761-1.653-2.059-.173-.297-.018-.458.13-.606.134-.133.298-.347.446-.52.149-.174.198-.298.298-.497.099-.198.05-.371-.025-.52-.075-.149-.669-1.612-.916-2.207-.242-.579-.487-.5-.669-.51-.173-.008-.371-.01-.57-.01-.198 0-.52.074-.792.372-.272.297-1.04 1.016-1.04 2.479 0 1.462 1.065 2.875 1.213 3.074.149.198 2.096 3.2 5.077 4.487.709.306 1.262.489 1.694.625.712.227 1.36.195 1.871.118.571-.085 1.758-.719 2.006-1.413.248-.694.248-1.289.173-1.413-.074-.124-.272-.198-.57-.347m-5.421 7.403h-.004a9.87 9.87 0 01-5.031-1.378l-.361-.214-3.741.982.998-3.648-.235-.374a9.86 9.86 0 01-1.51-5.26c.001-5.45 4.436-9.884 9.888-9.884 2.64 0 5.122 1.03 6.988 2.898a9.825 9.825 0 012.893 6.994c-.003 5.45-4.435 9.884-9.885 9.884m8.413-18.297A11.815 11.815 0 0012.05 0C5.495 0 .16 5.335.157 11.892c0 2.096.547 4.142 1.588 5.945L.057 24l6.305-1.654a11.882 11.882 0 005.683 1.448h.005c6.554 0 11.89-5.335 11.893-11.893a11.821 11.821 0 00-3.48-8.413z" />
        </svg>
      )
    }
    {
      icon === "email" && (
        <svg
          width="15"
          height="13"
          viewBox="0 0 15 13"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          aria-hidden="true"
        >
          <path
            d="M13.5 0.589844H1.5C0.675 0.589844 0.00749999 1.26484 0.00749999 2.08984L0 11.0898C0 11.9148 0.675 12.5898 1.5 12.5898H13.5C14.325 12.5898 15 11.9148 15 11.0898V2.08984C15 1.26484 14.325 0.589844 13.5 0.589844ZM13.2 3.77734L7.8975 7.09234C7.6575 7.24234 7.3425 7.24234 7.1025 7.09234L1.8 3.77734C1.7248 3.73513 1.65894 3.67809 1.60642 3.60968C1.55389 3.54128 1.5158 3.46293 1.49443 3.37937C1.47307 3.29582 1.46888 3.2088 1.48212 3.12357C1.49536 3.03835 1.52575 2.9567 1.57146 2.88357C1.61717 2.81044 1.67724 2.74734 1.74804 2.69809C1.81885 2.64884 1.8989 2.61448 1.98337 2.59707C2.06784 2.57966 2.15496 2.57957 2.23947 2.5968C2.32397 2.61404 2.4041 2.64824 2.475 2.69734L7.5 5.83984L12.525 2.69734C12.5959 2.64824 12.676 2.61404 12.7605 2.5968C12.845 2.57957 12.9322 2.57966 13.0166 2.59707C13.1011 2.61448 13.1812 2.64884 13.252 2.69809C13.3228 2.74734 13.3828 2.81044 13.4285 2.88357C13.4742 2.9567 13.5046 3.03835 13.5179 3.12357C13.5311 3.2088 13.5269 3.29582 13.5056 3.37937C13.4842 3.46293 13.4461 3.54128 13.3936 3.60968C13.3411 3.67809 13.2752 3.73513 13.2 3.77734Z"
            fill="white"
          />
        </svg>
      )
    }
  </div>
  <span
    class="text-sm leading-[150%] font-medium text-white transition-all duration-300 group-hover:text-cyan md:text-[16px]"
  >
    {
      lines.map((line, idx) => (
        <>
          {line}
          {idx < lines.length - 1 && <br />}
        </>
      ))
    }
  </span>
</a>
