<div id="cs-video-modal" class="cs-video-modal" hidden aria-hidden="true">
  <div class="cs-video-modal__dialog" role="dialog" aria-modal="true" aria-label="Video player">
    <button type="button" class="cs-video-modal__close" data-video-close>Close</button>
    <iframe
      id="cs-video-iframe"
      class="size-full border-0"
      title="Client testimonial video"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
  </div>
</div>
