---
import { CASE_STUDY_DETAIL_FAQ } from '../../../lib/constants/pages/case-studies';
import type { SledCaseStudy } from '../../../lib/constants/pages/sled-case-studies';
import { sledCaseStudyPath } from '../../../lib/constants/pages/sled-case-studies';
import SledFaqSection from '../shared/SledFaqSection.astro';
import CaseStudyDetailHero from './CaseStudyDetailHero.astro';
import CaseStudyDetailSections from './CaseStudyDetailSections.astro';

interface Props {
  study: SledCaseStudy;
}

const { study } = Astro.props;
const canonicalPath = sledCaseStudyPath(study.slug);
---

<div
  class="sled-case-study-detail"
  data-sled-case-study
  data-sled-case-deadline={'deadline' in study ? study.deadline : undefined}
  data-sled-case-status="live"
>
  <CaseStudyDetailHero study={study} />
  <CaseStudyDetailSections study={study} />
  <SledFaqSection {...CASE_STUDY_DETAIL_FAQ} {canonicalPath} screenLabel="FAQ" />
</div>
