---
import "../../styles/case-studies.css";
import BaseLayout from "../../layouts/BaseLayout.astro";
import Header from "../../components/shared/Header.astro";
import Footer from "../../components/shared/Footer.astro";
import CaseStudiesHero from "../../components/case-studies/CaseStudiesHero.astro";
import CaseStudiesListingHeader from "../../components/case-studies/CaseStudiesListingHeader.astro";
import CaseStudiesListing from "../../components/case-studies/CaseStudiesListing.astro";
import CaseStudiesCta from "../../components/case-studies/CaseStudiesCta.astro";
import VideoModal from "../../components/case-studies/VideoModal.astro";
import { CASE_STUDIES_SEO_PORTFOLIO } from "../../lib/config/case-studies";

const { title, description, canonicalPath, ogImage } =
  CASE_STUDIES_SEO_PORTFOLIO;
---

<BaseLayout {title} {description} {canonicalPath} {ogImage}>
  <Header currentPage="/case-studies/" />
  <main>
    <CaseStudiesHero />
    <CaseStudiesListingHeader />
    <CaseStudiesListing />
    <CaseStudiesCta />
  </main>
  <Footer />
  <VideoModal />
  <script src="/scripts/nav.js" is:inline></script>
  <script src="/scripts/mobile-nav.js" is:inline></script>
  <script src="/scripts/video-modal.js" is:inline></script>
</BaseLayout>
